<configuration scan="true">

    <springProperty scope="context" name="appName" source="spring.application.name" defaultValue="unknown-service"/>
    <springProperty scope="context" name="profile" source="spring.profiles.active" defaultValue="local"/>

    <!-- ===================== -->
    <!-- CONSOLE (JSON for CloudWatch) -->
    <!-- ===================== -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>America/Sao_Paulo</timeZone>
                </timestamp>
                <logLevel />
                <loggerName />
                <threadName />
                <message />
                <mdc /> 
                <stackTrace />
                <arguments />

                <globalCustomFields>
                    {
                    "service.name":"${appName}",
                    "environment":"${profile}"
                    }
                </globalCustomFields>
            </providers>
        </encoder>
    </appender>

    <!-- ===================== -->
    <!-- LOGGERS -->
    <!-- ===================== -->
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="com.glaiss" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
